<!DOCTYPE html>
<html lang="ko">
<head>
<% include /partials/head %>

<!-- Custom styles for this template -->
<link href="css/cover.css" rel="stylesheet">

</head>
<body>
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"<i class="fa fa-gamepad"></i>Watple.com</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/donate">Donate</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">What game do you play today?</h1>
          <p class="lead">게임 정보를 검색해 보세요.</p>
          <!-- facebook login
          <p class="lead">
            <a href="/flogin" class="btn btn-lg btn-default">페이스북 로그인</a>
          </p>
           -->
          <p class="lead">
            <a href="/login" class="btn btn-lg btn-default">아이디로 로그인</a>
          </p>
          <p class="lead">
            <a href="/signup" class="btn btn-sm btn-link">또는 간편 회원 가입</a>
          </p>
          <p class="lead">
            <a href="https://namu.wiki/w/%EC%A0%A4%EB%8B%A4%EC%9D%98%20%EC%A0%84%EC%84%A4%20%EA%BF%88%EA%BE%B8%EB%8A%94%20%EC%84%AC">
            <img src="https://s3-ap-northeast-1.amazonaws.com/watple-public/img/link1.png" style="width:400px">
            </a>
          </p>
          <p class="lead">젤다의 전설: 꿈꾸는 섬 (1993. 6.6)</p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>(c)2015 Watple.com</p>
          </div>
        </div>

      </div>

    </div>

  </div>

<% include /partials/foot.ejs %>
</body>
</html>
